{% extends 'layout.html' %}

{% block content %}
<section class="container">
  <h2>Create New Album</h2>

  <form action="/admin/albums/new" method="post" class="form-box">
    <div class="form-group">
      <label for="title">Album Title</label>
      <input id="title" type="text" name="title" required />
    </div>

    <div class="form-group">
      <label for="photographer">Photographer <span class="optional">(optional)</span></label>
      <input id="photographer" type="text" name="photographer" />
    </div>

    <div class="form-group">
      <label for="photographer_url">Photographer URL <span class="optional">(optional)</span></label>
      <input id="photographer_url" type="url" name="photographer_url" placeholder="https://example.com" />
    </div>


    <div class="form-group">
      <label for="event_date">Event Date <span class="hint">(yyyy-mm-dd)</span></label>
      <input id="event_date"
            type="date"
            name="event_date"
            autocomplete="off">
    </div>


    <div class="form-actions">
      <button type="submit" class="btn">Create Album</button>
    </div>
  </form>
</section>
{% endblock %}
